src/*.exe
src/8
src/8d
src/test_8
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.8

# Compilation and Qt preprocessor part
*.qm
Makefile
8-qt
8-Qt.app

# Unit-tests
Makefile.test
8-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
